@{
    ViewData["Title"] = "Pagina Principal";
}
<h1 class="text-primary">CRUD com ASP.NET Core</h1>
<hr>
<h3 class="text-info">Usuarios Cadastrados: @ViewData["NReg"]</h3>
<hr>
<a href="/Home/Usuarios" class="btn btn-primary">Usuários</a>

@section Footer{
    <span class="text-info">Pagina Principal</span>
}